.footer {    

    margin-top: auto;
    width: 100vw;
    max-height: 37px;
    position: absolute; 
    bottom: 0;
    
    background-color: rgba(var(--background-color-rgb), 0.75);
    border-top: var(--secondary-color) 2px solid;
    color: var(--primary-color);
    padding: 10px 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-element{
    flex: 1 0 0;
}

.footer-max-content {
    max-width: 1920px;
    width: 98vw;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-purple{
    color: var(--secondary-color-link);
}

.wrapper {
    position: relative;
    font-family: "Lora";    
    height: auto; 
    min-width: 120px; 
    text-align: center; 
}

.overlayed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    user-select: none;
}

.overlayed.hidden {
    opacity: 0;
    pointer-events: none;
}

#change-language-btn svg{    
    max-height: 1.3rem;
    min-width: 1.3rem;
    aspect-ratio: 1 / 1;
    margin-right: 1rem;

    fill: var(--primary-color);
}

#change-language-btn svg,#change-language-btn .spaced-text{
    transition: fill var(--transition-time), color var(--transition-time);
}

#change-language-btn:hover .spaced-text,#change-language-btn:hover svg{  
    color: var(--accent-color);
    fill: var(--accent-color);

    cursor: pointer;
} 

.footer p{
    margin: 0;
}

.spaced-text{
    letter-spacing: 0.4rem;
}

#language-selector p{
    cursor: pointer;

    padding: 0 0.5rem;

    border-left: var(--secondary-color) solid 1px;
    border-right: var(--secondary-color) solid 1px;

    transition: color var(--transition-time);    
}

#language-selector p:first-of-type{
    border-left: 0 solid var(--secondary-color);
}

#language-selector p:last-of-type{
    border-right: 0 solid var(--secondary-color);
}

#language-selector p:hover{
    color: var(--accent-color);
}

.justify-items-end{
    justify-items: end;
}

@media (max-width: 767px) {
  .footer{
    max-height: fit-content;
  }

  .footer-max-content{
    flex-direction: column;
    gap: 0.25rem;
  }

  .wrapper{
    order: -1;
  }

  .footer-element{
    flex: 1 0 0;
    min-height: 1.1rem;
  }
}