.frame-bg{
    font-family: Lora;
    font-size: 1.2em;

    position: absolute;
    color: var(--primary-color);

    transform: translate(-50%,53%);

    bottom: 50%;
    left: 50%;

    max-width: 1565px;
    /* max-height: 817px; */
    max-height: 60vh;

    width: 65vw;

    aspect-ratio: 15/8;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.frame-bg::before{
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: var(--main-frame-background);      
    background-size: 100% 100%;        
    opacity: var(--main-frame-opacity);
    z-index: -1;
}

.frame-bg > div{
    width: 100%;
    height: 90%;
    padding: 3% 6.5%;

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.frame-bg > h2{
    width: 100%;
    margin-left: 8%;        
    margin-bottom: 0;
}

.news-scroll{
    overflow-y: scroll;
    height: 100%;
    padding-right: 1rem;
    padding-left: 0.5rem;

    scrollbar-color: var(--primary-color) var(--background-color);
    scrollbar-width: thin;
}

.new-item{
    border-bottom: solid var(--primary-color) 2px;
}

.new-item h3, .new-item h5, .new-item p{
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

.frame-bg > div.news{
    width: 88%;
    height: 85%;
    transform: translateX(-1%);
}

.frame-bg.gallery{
    flex-wrap: wrap;
}

.gallery-grid{
    display: grid;    
}