.frame-bg{
    font-family: Lora;
    font-size: 1.2em;

    position: absolute;
    color: var(--primary-color);

    transform: translate(-50%,53%);

    bottom: 50%;
    left: 50%;

    max-width: 1565px;    
    width: 65vw;

    max-height: 67vh;

    aspect-ratio: 1.916/1;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.frame-bg::before{
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: var(--main-frame-background);      
    background-size: 100% 100%;        
    opacity: var(--main-frame-opacity);
    z-index: -1;
}

.frame-bg > div{
    width: 100%;
    height: 100%;    
}

.frame-bg > h2{
    width: 100%;
    margin-left: 8%;        
    margin-bottom: 0;
}

.frame-slide-gradient{
    mask: url("/img/helper/SmallerFrameWhiteMask.svg");
    mask-size: cover;

    background: linear-gradient( 90deg,
        rgba(var(--main-frame-arrow-fade-color),0.2) 0%,
        rgba(0, 0, 0, 0) 9%,
        rgba(0, 0, 0, 0) 91%,
        rgba(var(--main-frame-arrow-fade-color),0.2) 100%);
}

.news-scroll,.gal-scroll{
    overflow-y: scroll;
    height: 100%;
    padding-right: 1rem;
    padding-left: 0.5rem;

    scrollbar-color: var(--primary-color) var(--background-color);
    scrollbar-width: thin;
}


.new-item{
    border-bottom: solid var(--primary-color) 2px;
}

.new-item h3, .new-item h5, .new-item p{
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

.news,.gal-sv{
    /* width: 88%;
    height: 85%;
    transform: translateX(-1%); */
    width: 100%;
    height: 100%;
    display: grid;
    align-items: end;

    grid-template-rows: 20% 74% 6%;
    grid-template-columns: 9% 82% 9%;
}

.news-main-title,.gallery-carrousel-title{    
    grid-area: 1 / 2 / 2 / 3;
}

.news-scroll,.gal-scroll{
    grid-area: 2 / 2 / 3 / 3;
}
     
.games-content{
    display: grid;
    grid-template-rows: 12% 80% 8%;
    grid-template-columns: 10% 80% 10%;
}

.frame-about{
    display: grid;
    grid-template-rows: 12% 82% 6%;
    grid-template-columns: 13% 74% 13%;
}

.bellefair{
    font-family: "Bellefair";
}

.frame-bg.gallery{
    flex-wrap: wrap;
}

.gallery-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    width: 95%;
}

.gallery-grid img{
    max-width: 100%;
    cursor: pointer;
}

.gal-img-carrousel{
    max-width: 100%;
    max-height: 100%;

    cursor: zoom-in;
}

.gallery h3{
    margin: 0;
    margin-right: auto;       
    font-size: 1.5rem;
}

.gal-sv.hide{
    display: none;
}

.close-carrousel-div{
    position: absolute;
    width: 100vw;
    height: 100vh;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 0;

    background-color: rgba(255, 255, 255, 0);

    cursor: pointer;
}

/*@media (max-width: 767px) {
    .frame-bg{        
        max-width: 90vw;
        max-height: 80vh;    
        height: 60vh;    
    }

    .frame-bg::before{
        background-image: none;
    }
}

 @media (min-width: 768px) {
    .frame-bg{
        max-width: 1565px;    
        max-height: 60vh;        
        width: 80vw;
        height: 60vh;
    }
}

@media (min-width: 1024px) {
    .frame-bg{
        max-width: 1565px;    
        max-height: 60vh;
        width: 80vw;
    }
} */

@media (min-width: 1280px) {
  .gallery h3{
        font-size: 2.2rem;
    }
}

@media (min-width: 1920px) {
    .gallery h3{
        font-size: 3rem;
    }
}