#gallery-lightbox{
    position: absolute;
    width: 100vw;
    height: 100vh;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;

    overflow: hidden;    

    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

.close-lightbox-div{
    position: absolute;
    width: 100vw;
    height: 100vh;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 2;

    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

.lightbox-content{
    display: flex;
    flex-direction: column;    
    
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;
    z-index: 3;

    padding: 2rem 0 4rem 0;
    box-sizing: border-box;
    position: relative;

    pointer-events: auto; /* ensure it's not blocked */
}

.lightbox-Image{
    max-width: 95%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    height: 95%;
}

.lightbox-left,
.lightbox-right {
    width: 96px;
    
    aspect-ratio: 1/1;
    padding-bottom: 1.5rem;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    scale: 1;

    background-image: var(--slides-arrow-background);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-color: rgba(0, 0, 0, 0);
    
    border-color: transparent;    

    cursor: pointer;
    transition: var(--slide-transition);
}

.lightbox-left{
    left: 1rem;
    transform: translateY(-50%) rotateZ(180deg);
}

.lightbox-right{
    right: 1rem;
}

.lightbox-photo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    max-width: calc(100% - 6rem);    
    width: 100%;
}

.lightbox-titles{
    font-family: "Lora";
    font-size: 1.5rem;
    color: var(--secondary-color);
    letter-spacing: 2.5px;
}

.lightbox-titles h3,.lightbox-titles h4{
    margin: 0;
    text-align: center;
    
}

.lightbox-buttons{
    max-width: 10vw;
    display: flex;    
}

.lightbox-buttons img{
  width: 2.5rem;
  height: 2.5rem;
  transition: all var(--transition-time);
}

.lightbox-buttons button{
    background-color: rgba(0, 0, 0, 0);
    border: none;    
}

.lightbox-buttons img:hover{
    transform: scale(1.2);
}

.image-container {
  position: relative; /* crucial */
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 6rem; /* space for arrow buttons */
  max-height: calc(100vh - 200px); /* adjust based on estimated footer + padding */
  width: 100%;
  box-sizing: border-box;
}

/* Overlay on top of the image */
.lightbox-info-overlay{

    display: flex;
    position: absolute;
    inset: 0; /* full cover */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin: 0 auto;
    padding: 10vh 10vw 0 10vw;
    text-align: center;
    z-index: 3; /* above image */    

    font-family: "Lora";
    
    max-width: var(--FullHD);
}

.lightbox-info-overlay p{
    transition: font-size var(--transition-time);
    text-align: justify;
    font-size: 1.5rem;
}

.lightbox-info-title, .lightbox-info-subtitle{
    color: var(--secondary-color-link);
    margin: 0.5rem;
}

.lightbox-info-title{
    transition: all var(--transition-time);
    font-size: 2.3rem;
}

.lightbox-info-subtitle{
    transition: all var(--transition-time);
    font-size: 1.5rem;
}

.lightbox-info-overlay .cross{
    align-self: end;
}

@media (max-width: 767px) {
    .lightbox-info-overlay p{
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    .lightbox-info-overlay p{
        font-size: 1.3rem;
    }
}


@media (min-width: 1280px) {
    .lightbox-info-overlay p{
        font-size: 1.8rem;
    }
}

@media (min-width: 1920px) {
    .lightbox-info-title{
        font-size: 3.5rem;
    }

    .lightbox-info-subtitle{
        font-size: 2.5rem;
    }

    .lightbox-info-overlay p{        
        font-size: 1.45rem;
    }
}