.navbar{
    height: 20vh;   
    background: linear-gradient(180deg,var(--background-color) 0%, rgba(0, 0, 0, 0) 60%);
}

#interactable-navbar li{
    font-family: 'Bellefair';
    font-size: 1.75rem;    

    padding: 0.5rem 0;

    text-align: center;
    flex-grow: 1;

    border-left: var(--secondary-color) 1px solid;
    border-right: var(--secondary-color) 1px solid;    
}

#interactable-navbar span:hover,.interactable-navbar-mobile span:hover {
    transform: scale(1.1);
    color: var(--accent-color);
}

#interactable-navbar li:first-of-type{
    border-left: none;    
}

#interactable-navbar li:last-child{
    border-right: none;    
}

.navbar span{
    transition: transform var(--transition-time) ease-in-out, color var(--transition-time) ease-in-out;
    display: inline-block;
    cursor: pointer;
}

.navbar span::first-letter{    
    font-size: 2.25rem;
}

.nav-img{    
    width: 18vw;
    max-width: 500px;
    min-width: 150px;
}

.nav-img>img{
    transform: translateY(0%) rotateZ(30deg) scale(0.65);
    width: 100%;
    cursor: pointer;
}

.navbar li{
    list-style: none;
}

#interactable-navbar{
    background: linear-gradient(180deg,var(--background-color) 0%, rgba(0, 0, 0, 0) 100%);

    display: flex;
    justify-content: center;
    height: 100%;
    
    transform: translateY(-50%);

    opacity: 0;
    pointer-events: none;

    transition: all var(--transition-time);
}

#interactable-navbar>div{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90vw;
    max-width: 1980px;
}

#interactable-navbar.show-navbar{
    transform: translateY(0%);
    opacity: 1;
    pointer-events: all;
}

#nav-mobile-btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;    
    align-self: flex-end;
    margin: 0.3rem;
}

.navButtons{    
    transform: scaleY(0);
    height: 0;
    opacity: 0;
    /* transition: transform 200ms, opacity 300ms; */
    transform-origin: top center;
}

.navButtons.show{
    height: auto;
    pointer-events: all;
    transform: scaleY(1);
    opacity: 1;
}

.navbar a{
    color: var(--primary-color);
    transition: color var(--transition-time) ease-in-out;
}

.navbar a:hover{
    color: var(--accent-color);
}

.new-item:last-child{
    border-bottom: none;
}

.interactable-navbar-mobile{
    flex-direction: column;
    align-items: center;

    display: none;
    width: 100vw;
    text-align: center;

    background-color: rgba(var(--background-color-rgb), 0.7);
}

.interactable-navbar-mobile li{
    font-family: 'Bellefair';
    font-size: 1.55rem;
    padding: 0.1rem;
}

@media (max-width: 767px) {
    #interactable-navbar{
        display: none;
    }

    .interactable-navbar-mobile{
        display: flex;
    }
}
