.news-popup{
    font-family: 'Bellefair';
    /* font-size: 1.75rem;
    font-weight: bold; */

    position: absolute;
    color: var(--primary-color);

    max-width: 500px;
    max-height: 135px;

    width: 40vw;

    min-width: 305px;
    min-height: 67px;

    bottom: 50px;
    left: 50%;

    transform: translateX(-50%) translateY(50%);
    opacity: 0;

    transition: opacity var(--news-popup-transition-time), transform var(--news-popup-transition-time);

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.news-popup::before{
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: var(--news-popup-background);      
    background-size: 100% 100%;        
    opacity: 0.5;
    z-index: -1;
}

.news-popup h1,.news-popup h2,.news-popup h3,.news-popup h4,.news-popup h5{
    padding: 0 40px;    
    text-align: center;
    margin: 0;
    width: 100%;
}

.news-popup h3{
    font-size: x-large;
}

.news-popup h5{
    font-size: large;
}

.showNews{
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
}