/* uc = under construction */
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');

:root{
    --uc-bg-size: 256px;
    --svg-text-inner-color: #5d4a8c;
    --uc-bg-color:#b9a2e4;
}

.uc-bg{
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--uc-bg-color);    
    background-image: url('/img/underConstruction/patron1.png');
    background-size: var(--uc-bg-size);    

    animation-name: scrolling-uc-bg;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;    

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 1;

    overflow: hidden;
}

.uc-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uc-content svg{
    /* font   : bold 70px Century Gothic, Arial; */
    font: bold 1rem "Averia Libre", system-ui;    
    width  : 100%;
    min-height: 40px;
}

.uc-content text{
    fill            : var(--svg-text-inner-color);
    stroke          : white;  
    stroke-width    : 0.04rem;
    stroke-linejoin : round;

    text-anchor: middle;
    dominant-baseline: middle;

    text-transform: capitalize;
}

text.uc-large{
    font-size: 1.25rem;
    stroke-width: 0.04rem;
}

text.uc-medium{
    font-size: 0.85rem;
    stroke-width: 0.02rem;
}

text.uc-small{
    font-size: 0.5rem;
    stroke-width: 0.02rem;
}

.uc-mainImg{
    max-height: 48vh;
    max-width: 90vw;
}

.uc-links{
    display: flex;
    max-width: 60vw;
    gap: 2rem;
}

.uc-links a{
    min-width: 32px;
    transition: transform var(--transition-time);
}

.uc-links a:hover{
    transform: scale(1.1);
}

.uc-links img{
    width: 100%;    
    aspect-ratio: 1;
}

.uc-footer{
    background: linear-gradient(0deg, rgb(48, 36, 69) 0%, rgba(0, 0, 0, 0) 100%);
    height: 50vh;
    width: 100vw;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -1;
}

@keyframes scrolling-uc-bg {
    from{
        background-position: 0% 0%;
    }

    to{
        background-position: var(--uc-bg-size) var(--uc-bg-size);
    }
}