*{
  --primary-color: #f1f1e6;
  --secondary-color: #cecbec;
  --secondary-color-link: #bcb0ff;
  --background-color: #494863;
  --accent-color: #cca715;
  --background-color-rgb: 73, 72, 99;

  --show-logo-duration: 700ms;
  --intro-animation-delay: 200ms;
  --hide-splash-duration: 500ms;
  --transition-time: 200ms;
  --news-popup-transition-time: 200ms;

  --background-img-path: url('/studio_20240302_EX_opt.png');
  --news-popup-background: url('/img/helper/NewsfeedBox.png');
  --main-frame-background: url('/img/helper/SmallerFrame.png')
}

@font-face{
  font-family: "Bellefair";
  src: url(./assets/fonts/Bellefair-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Lora";
  src: url(./assets/fonts/Lora-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-VariableFont_wdth.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Roboto-italic";
  src: url(./assets/fonts/Roboto-Italic-VariableFont_wdth.ttf);
  font-weight: normal;
  font-style: italic;
}

:root {  
  font-family: "Roboto";

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--background-color);
  /* background-image: var(--background-img-path);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center; */

  filter: blur(0px);
  transition: filter var(--transition-time);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.icon-btn{
  max-width: 80px;  
  max-height: 80px;  
  aspect-ratio: 1/1;
  
  /* 
  background-color: #1877f2;
  mix-blend-mode: multiply; 
  background-blend-mode: multiply; 
  */
  transition: color var(--transition-time);
}

.icon-btn > svg{  
  fill: var(--primary-color);
  transform: scale(1);
  transition: fill var(--transition-time), transform 150ms;
}

.icon-btn > svg:hover{
  transform: scale(1.1);  
  fill: var(--accent-color);
}

/* .icon-btn img{
  height: 100%;
  aspect-ratio: 1/1;
} */

.splashScreen{
  z-index: 1;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: white;
  animation: hideOpacity var(--show-logo-duration) ease calc(calc(var(--show-logo-duration) + var(--intro-animation-delay)) + 500ms) forwards;
}

.splashScreen img{
  opacity: 0;
  height: 60%;

  animation: show-Up var(--show-logo-duration) ease-in-out var(--intro-animation-delay) forwards;
}

.hide-navbar{
  opacity: 0;
  pointer-events: none;
}

@keyframes show-Up{
  0%{
    opacity: 0;
    transform: translateY(10%);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideOpacity{

  100%{
    pointer-events: none;
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.blur{
  filter: blur(5px) brightness(70%);  
}

#background-image-div{
  z-index: -10;

  position: absolute;

  background-image: var(--background-img-path);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;

  transition: filter var(--transition-time);  

  width: 100vw;
  height: 100vh;
}